@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

.font-crimson {
  font-family: "Crimson Text", serif; 
}

.font-garamond {
   font-family: "Cormorant Garamond", serif;
}

::selection {
  background-color: #000;
  color: #F5F5F0;
}

body {
  background-color: #F9F8F6;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.optional-div {
  margin-top: 3rem;
  position: relative;
}

.first-div {
  height: 200px;
  background: #111;
}

.second-div {
  background-color: #F5F5F0;
  padding: 3.5rem 1.25rem 1.25rem 1.25rem;
}

img {
  height: 120px;
  width: 120px;
  position: absolute;
  left: 50%;
  top: 180px;
  transform: translate(-50%, -50%);
  transition: all 1.3s ease-in-out;
  z-index: 10;
  filter: grayscale(100%);
  border-radius: 50%;
  border: 3px solid #F5F5F0;
  padding: 6px;
}

img:hover {
  filter: grayscale(0);
}

.second-div > p {
  text-align: center;
  font-size: 1.65rem;
  letter-spacing: 3px;
  font-weight: 500;
}

.sub-container {
  /* max-width: 500px; */
  margin-top: 10px;
  text-align: center;
}

.sub-title {
  font-size: 13px;
  text-align: justify; /* To justify text *Experimental* */
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;       
  margin: 1.5rem 0;    
}

.divider::before,
.divider::after {
  content: "";
  width: 50px;        /* fixed shorter length */
  height: 1px;
  background: #111;
}

.divider span {
  letter-spacing: 2px;  /* optional spacing inside || */
}

.text {
  text-indent: 3rem;
  margin-top: 2rem;
  text-align: justify;
  /* color: #797979; */
}

.text-container .first-letter::first-letter {
  display: inline-block;
  vertical-align: sub;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  margin-right: 6px;
  margin-right: 0.1em;
}

footer {
  color: #fff;
  text-align: center;
  padding: 4px;
  background-color: #111;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

footer a {
  color: #F5F5F0;
  margin-left: 4px;
}