@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

.font-fira {
  font-family: "Fira Code", monospace;
}

.font-garamond {
   font-family: "Cormorant Garamond", serif;
}

body {
  background-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.optional-div {
  margin-top: 3rem;
  position: relative;
}

.first-div {
  height: 200px;
  background: #111;
}

.second-div {
  background-color: #fff;
  height: 600px;
  margin-top: 3rem;
  padding: 20px;
}

img {
  height: 120px;
  width: 120px;
  position: absolute;
  left: 50%;
  top: 180px;
  transform: translate(-50%, -50%);
  transition: filter 0.3s linear;
  z-index: 10;
  filter: grayscale(100%);
  border-radius: 50%;
  border: 3px solid #fff;
  padding: 6px;
}

img:hover {
  filter: grayscale(0);
}

.second-div > p {
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 3px;
}

.sub-container {
  /* max-width: 500px; */
  margin-top: 10px;
  text-align: center;
}

.sub-title {
  font-size: 10px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;       
  margin: 1.5rem 0;    
}

.divider::before,
.divider::after {
  content: "";
  width: 50px;        /* fixed shorter length */
  height: 1px;
  background: #111;
}

.divider span {
  letter-spacing: 2px;  /* optional spacing inside || */
}